---
import RegionCountries from "../components/region/RegionCountries.astro";
---

<main class="h-screen snap-y snap-mandatory overflow-y-auto scroll-smooth">
    <div class="snap-start">
        <RegionCountries region="Europe" />
    </div>
    <div class="snap-start">
        <RegionCountries region="Americas" />
    </div>
    <div class="snap-start">
        <RegionCountries region="Asia" />
    </div>
    <div class="snap-start">
        <RegionCountries region="Africa" />
    </div>
    <div class="snap-start">
        <RegionCountries region="Oceania" />
    </div>
</main>
