---
export interface Props {
    title: string;
    bg: string;
}

const { title, bg } = Astro.props;
---

<div
    class={`uppercase font-bold text-4xl h-screen p-3 flex items-center justify-center flex-col ${bg} text-white tracking-widest`}
>
    {title}
</div>
