<nav class="w-full bg-white shadow-md sticky top-0">
    <div
        class="w-full m-auto md:max-w-5xl lg:max-w-7xl py-12 flex items-center justify-between px-2 md:px-4"
    >
        <span><a href="/" class="font-bold"> Where in the world?</a></span>
        <ul>
            <li>
                <a href="/region" class="font-bold">Regions</a>
            </li>
        </ul>
    </div>
</nav>
